{{!-- <main class="p-5">
  <div class="row">
    <div class="col-4">
      <div class="card text-bg-dark">
        <div class="pt-4 pb-3">
          <div class="nav flex-column">
            <div class="nav-item">
              <div class="card">
                <a href="#" class="nav-link">Home page</a>
              </div>
            </div>
            <div class="nav-item">
              <div class="card">
                <a href="#" class="nav-link">First page</a>
              </div>
            </div>
            <div class="nav-item">
              <div class="card">
                <a href="#" class="nav-link">Second page</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 pe-5">
      <div class="card">
        Test
      </div>
    </div>
  </div>
</main> --}}

{{!-- <div class="p-5">
  <div class="row g-5">
    <div class="col-12">
      <label class="form-lable">Email address</label>
      <input class="form-control">
      <div class="form-text text-danger">Error. Pleas enter corect email address</div>
    </div>
    <div class="col-12">
      <label class="form-lable">Email address</label>
      <input class="form-control">
      <div class="form-text text-danger">Error. Pleas enter corect email address</div>
    </div>
    <div>
      <div class="row">
        <div class="col-2 pt-1">
          <label class="form-lable">Email address</label>
        </div>
        <div class="col-4">
          <input class="form-select">
        </div>
        <div class="col-6">
          <div class="form-text text-danger">Error. Pleas enter corect email address</div>
        </div>
      </div>
    </div> --}}

    {{!-- <div>
      <hr>
    </div> --}}

    {{!-- <div class="col-4">
      <label class="form-lable">Email address</label>
      <select class="form-select">
        <option selected>Open list</option>
        <option value="1">Admin</option>
        <option value="2">User</option>
      </select>
    </div>
    <div>
      <hr>
    </div>
    <div class="col-12">
      <label class="form-lable">Select food:</label>
      <div class="form-check form-switch">
        <label class="form-check-lable">Apple</label>
        <input name="food" type="checkbox" class="form-check-input">
      </div>
      <div class="form-check form-switch">
        <label class="form-check-lable">Orange</label>
        <input name="food" type="checkbox" class="form-check-input">
      </div>
      <div class="form-check form-switch">
        <label class="form-check-lable">Banana</label>
        <input name="food" type="checkbox" class="form-check-input">
      </div>


    </div> --}}

    {{!-- <main class="p-5">
      <h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-file-arrow-down-fill" viewBox="0 0 16 16">
          <path
            d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM8 5a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5A.5.5 0 0 1 8 5z" />
        </svg>
        Hello!
      </h1>
    </main> --}}

    <main class="p-5">
      <h1>Hello world!</h1>
    </main>