<main class="p-5">
    <div class="card mb-5">
        <div class="row">
            <div class="col-6">
                <h6 class="p-3">{{firstname}} {{lastname}}</h6>
            </div>
            <div class="col-6 text-end">
                <h6 class="p-3">{{project_type}}</h6>
            </div>
        </div>
    </div>
    <div class="mb-5">
        <h4>Список сторінок:</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa deserunt quidem asperiores voluptate enim
            cupiditate cumque numquam id, eveniet itaque consectetur voluptatum delectus blanditiis similique
            perferendis
            magnam amet voluptas? At.</p>
    </div>
    <div class="flex-column">
        <p><a class="btn btn-primary mb-1" href="/shopcart">Shopcart</a></p>
        <p><a class="btn btn-primary mb-1" href="/shopcatalog">Shopcatalog</a></p>
        <p><a class="btn btn-primary mb-1" href="/shophome">Shophome</a></p>
        <p><a class="btn btn-primary mb-1" href="/shoporder">Shoporder</a></p>
        <p><a class="btn btn-primary mb-1" href="/shopprofile">Shopprofile</a></p>
        <p><a class="btn btn-primary mb-1" href="/shopreview">Shopreview</a></p>
    </div>
</main>