<div>{{#with guide}}
    <h4>Guide:</h4>
    <ul>
        <li>
            <p><b>Name: </b>{{name}}</p>
        </li>
        <li>
            <p><b>Language: </b>{{language}}</p>
        </li>
        <li>
            <p><b>Rating: </b>{{rating}}</p>
        </li>
    </ul>
    {{/with}}